<!-- <main class="ms-20">
  <header class="d-flex fw-bold align-items-baseline justify-content-between">
    <div class="d-flex align-items-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">時刻表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">票價資訊</a>
        </li>

      </ul>
    </div>
  </header>
</main> -->

<mat-tab-group>
  <mat-tab label="票價資訊">

    <div [style.display]="'flex'">
      <div [style.margin-left.px]="50">
        <div [style.margin-top.px]="15">
          <span [style.font-size.px]="22">起點車站</span>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <!--<mat-label>起點車站</mat-label> -->
            <!--下拉是選單選到的value可以用雙向繫結寫回property，寫在mat-select這裡-->
            <mat-select placeholder="請選擇起始車站" [(ngModel)]="queryInformation.startStaion">
              <mat-option *ngFor="let item of station" [value]="item.stationId">
                {{item.stationName.Zh_tw}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div [style.margin-left.px]="50">
        <div [style.margin-top.px]="15">
          <span [style.font-size.px]="22">終點車站</span>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <!--<mat-label>起點車站</mat-label> -->
            <mat-select placeholder="請選擇終點車站" [(ngModel)]="queryInformation.endStation">
              <mat-option *ngFor="let item of station" [value]="item.stationId">
                {{item.stationName.Zh_tw}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div [style.margin-top.px]="50" [style.margin-left.px]="50">
        <button mat-raised-button color="primary" (click)="doSearch()">查詢</button>
      </div>
      <div [style.margin-top.px]="50" [style.margin-left.px]="50">
        <button mat-raised-button color="primary" (click)="doClean()">清除搜尋</button>
      </div>
    </div>
    <ng-container *ngIf="resultInformation">
      <ng-container *ngFor="let item of resultInformation">
        <div class="container" [style.margin-top.px]="200">
          <h2 class="text-center">票價資訊</h2>
          <table class="table color text-white table-bordered  text-center h4 align-middle">
            <tbody>
              <tr>
                <th [rowSpan]="2">全票</th>
                <th [colSpan]="3">優惠票</th>
              </tr>
              <tr>
                <th>敬老票</th>
                <th>愛心票</th>
                <th>優待票</th>
              </tr>
              <tr>
                <ng-container *ngIf="item.Fares.length == 8; else length4">
                  <ng-container *ngFor="let i of item.Fares; let odd = odd">
                    <td *ngIf="odd">
                      {{i.Price}}
                      <span>元</span>
                    </td>
                  </ng-container>
                </ng-container>
                <ng-template #length4>
                  <td *ngFor="let i of item.Fares">
                    {{i.Price}}
                    <span>元</span>
                  </td>
                </ng-template>

                <!-- ngSwitch寫法
                  <ng-container [ngSwitch]="item.Fares.length">
                  <ng-container *ngSwitchCase="8">
                    <ng-container *ngFor="let i of item.Fares; let odd = odd">
                      <td *ngIf="odd">
                        {{i.Price}}
                        <span>元</span>
                      </td>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="4">
                    <td *ngFor="let i of item.Fares">
                      {{i.Price}}
                      <span>元</span>
                    </td>
                  </ng-container>
                </ng-container> -->
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </mat-tab>


  <mat-tab label=" 時刻表">
    <div [style.display]="'flex'">
      <div [style.margin-left.px]="50">
        <div [style.margin-top.px]="15">
          <span [style.font-size.px]="22">起點車站</span>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <!--<mat-label>起點車站</mat-label> -->
            <mat-select placeholder="請選擇起始車站" [(ngModel)]="queryInformation.startStaion">
              <mat-option *ngFor="let item of station" [value]="item.stationId">
                {{item.stationName.Zh_tw}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div [style.margin-left.px]="50">
        <div [style.margin-top.px]="15">
          <span [style.font-size.px]="22">終點車站</span>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <!--<mat-label>起點車站</mat-label> -->
            <mat-select placeholder="請選擇終點車站" [(ngModel)]="queryInformation.endStation">
              <mat-option *ngFor="let item of station" [value]="item.stationId">
                {{item.stationName.Zh_tw}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div [style.margin-top.px]="50" [style.margin-left.px]="50">
        <button mat-raised-button color="primary" (click)="doSearch()">查詢</button>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>