<!-- <main class="ms-20">
  <header class="d-flex fw-bold align-items-baseline justify-content-between">
    <div class="d-flex align-items-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">時刻表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">票價資訊</a>
        </li>

      </ul>
    </div>
  </header>
</main> -->

<mat-tab-group>
  <mat-tab label="票價資訊"> Content 1 </mat-tab>
  <mat-tab label="時刻表"> Content 2 </mat-tab>
</mat-tab-group>
